body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#gameContainer {
    position: relative;
    width: 400px;
    height: 500px;
    border: 2px solid black;
    margin: auto;
    overflow: hidden;
    background-color: lightblue;
}

#player {
    position: absolute;
    width: 60px;
    height: 20px;
    bottom: 10px;
    left: 170px;
    background-color: red;
}

.fallingBox {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
    left: 50%;
}
